<div class="centered-div" *ngFor="let category of ['Poissons', 'Fruits de Mer', 'Crustacés']; let i = index">
  <h2>{{ category }}</h2>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Nom</th>
        <th>Prix de base</th>
        <th>Prix en Promotion</th>
        <th>Prix d'achat</th>
        <th>Pourcentage de Promotion</th>
        <th>Quantité en Stock</th>
        <th>Nombre d'Articles Vendus</th>
        <th>Commentaires</th>
        <th>Prix payé</th>
        <th>Modifier le Stock</th>
        <th>Modifier prix d'achat</th>
        <th>Modifier le pourcentage de promotion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of getProductsByCategory(i)">
        <td>{{ produit.name }}</td>
        <td>{{ produit.price }} €</td>
        <td class="rouge">{{ (produit.modifiePourcentage == null) ? '' : ((produit.price - (produit.price * (produit.modifiePourcentage / 100))) + '€') }}</td>
        <td>{{produit.achat_prix}}</td>
        <td>{{ (produit.modifiePourcentage == null) ? '' : produit.modifiePourcentage + '%' }} </td>
        <td>{{ produit.quantityInStock }}</td>
        <!-- <td>{{ IsNan(produit.quantityInStock + produit.modifiedStock) ? produit.quantityInStock :(produit.quantityInStock + produit.modifiedStock) }}</td> -->
        <td>{{ produit.quantity_sold }}</td>
        <td>{{ produit.comments }}</td>
        <td>{{ (IsNan(produit.achat_prix * produit.modifiedStock)) ? '' :((produit.achat_prix * produit.modifiedStock) + '€')}}</td>
        <td>
          <input type="number" [(ngModel)]="produit.modifiedStock" placeholder="{{ produit.quantityInStock }}" appStockValidator>
        </td>
        <td>
          <input type="number" [(ngModel)]="produit.achat_prix" placeholder="{{ produit.price }}" appStockValidator>
          <button class="btn-detail" (click)="modifierStockAndPurchasePrice(produit);(produit)" [disabled]="!produit.modifiedStock || !produit.achat_prix">Modifier</button>
        </td>
        <td>
          <input type="number" [(ngModel)]="produit.modifiePourcentage" placeholder="{{ produit.discount }}">
          <button class="btn-detail" (click)="modifierPourcentage(produit)">Modifier</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div> <button (click)="modifierStockList(listeProduits)">Valider les modifications de stock</button></div>

