<nav class="navbar navbar-expand-lg navbar-light navbar-custom-bg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Dashboard <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/details-produits">Products details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/donnees-historique">Historical data</a>
      </li>
    </ul>
    <ul class="navbar-nav custom-align-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Sign Up</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" routerLink="/login">Log In</a>
      </li>
    </ul>
  </div>
</nav>
