<table class="table table-bordered">
  <thead>
      <tr>
          <th>ID Produit</th>
          <th>Stock Produit</th>
          <th>Réduction Produit</th>
          <th>Prix Produit</th>
          <th>Date de Création</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let stock of stocks">
          <td>{{stock.product_id}}</td>
          <td>{{stock.product_stock}}</td>
          <td>{{stock.product_discount}}</td>
          <td>{{stock.product_price}}</td>
          <td>{{stock.created_date}}</td>
      </tr>
  </tbody>
</table>
