<div class="dashboard-container">

  <div class="repartition-container">
    <h3>Répartition du C.A par catégorie</h3>
    <div class="category-stats-container">
      <div class="category-stats"
     *ngFor="let category of ['Poissons', 'Fruits de Mer', 'Crustacés']"
     [style.background-color]="getColorByCategory(category)">
        <h3>{{ category }}</h3>
        <p>
          Nombre d'articles vendus: {{ getSoldProductsCount(category) }}
        </p>
        <p>
          Stock: {{ getStockCount(category) }}
        </p>
        <p>
          Chiffre d'affaires: {{ calculerChiffreDaffaireByCategoryFor(category) }} €
        </p>
      </div>
    </div>
  </div>

  <div class="chart-container">
    <h3>Chiffre d'affaires: {{ chiffreDaffaire.toFixed(2) }} €</h3>
      <canvas  id="chiffreAffaires" >{{ chart }}</canvas>
      <div id="btn-filter">
        <select [(ngModel)]="periode">
          <option value="Mois">Mois</option>
          <option value="Trimestriel">Trimestriel</option>
          <option value="Année">Année</option>
        </select>

        <select [(ngModel)]="mois" *ngIf="periode === 'Mois' || periode === 'Trimestriel'">
          <option *ngFor="let mois of moisListe; let i = index" [value]="i">{{ mois }}</option>
        </select>

        <label for="selectAnnee">Année:</label>
        <select id="selectAnnee" [(ngModel)]="annee">
            <option *ngFor="let year of anneeListe">{{ year }}</option>
        </select>
        <button (click)="afficherChiffreDaffaire()">Afficher</button>
      </div>
    </div>


  </div>
