

.dashboard-container {
  padding-top: 1rem;
  padding-bottom: 8rem;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.chart-container {
  padding-top: 0.3rem;
  padding: 1rem;
  min-width: 70vw;
  width: 100%;
  max-height: 500px;
}

#btn-filter {
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  gap: 1rem;
}


.repartition-container {
  margin-top: 1rem;
}

.category-stats-container {
  display: flex;
  gap: 1rem;
}

.category-stats {
  width: 24rem;
  background-color: rgb(0, 0, 0);
  color: azure;
  padding: 1rem;
  border-radius: 1rem;
}
